@charset "utf-8";

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

/* #0C4DA2 */

.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0C4DA2;
    color: #fff;
    font-size: 50px;
    z-index: 10000;
    /* 이 값으로 레이어의 위치를 조정합니다. */
}

.container .fixed_box {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
    /* width 100% = right, left: 0*/
}

.container .fixed_box .header {
    width: 100%;
    background: #fff;
    height: 109px;
    /* background: #dcdcdc; */
}

.container .fixed_box .header .upper {
    width: 100%;
    background-color: #888;
}

.container .fixed_box .header .GNB_sub {
    width: 100%;
    margin-top: 80px;
    background: rgb(240, 240, 240);
}

.container .fixed_box .header .upper .login {
    clear: both;
    position: relative;
    width: 1100px;
    height: 25px;
    margin: 0 auto;
    /* .emblembox를 공중에 띄우기 위한 position: relative 추가 */
}

.container .fixed_box .header .upper .login ul {
    float: right;
    width: 220px;
    border: 1px solid #111;
    /* HTML login 1, 2, 3 항목에 맞게 변경 후 border:1px solid #111; 지우기  */
}

.container .fixed_box .header .upper .login li {
    display: inline-block;
    width: 32%;
    /* 항목 3개라서 가로크기 32퍼씩 임시설정 */
}

.container .fixed_box .header .upper .login .emblembox {
    position: absolute;
    z-index: 9;
    right: -50px;
    width: 50px;
    height: 50px;
}

.container .fixed_box .header .upper .login .emblembox img {
    width: 50px;
    height: 50px;
}

.container .fixed_box .header .header_inner {
    clear: both;
    width: 1100px;
    margin: 0 auto;
}

.container .fixed_box .header .header_inner .logo {
    float: left;
    width: 210px;
    height: 80px;
    /* 임시 로고에 맞게 사이즈 조정 로고 확정 후 width, height 조정 */
}

.container .fixed_box .header .header_inner .logo img {
    width: 210px;
    height: 80px;
    /* 임시 로고에 맞게 사이즈 조정 로고 확정 후 width, height 조정 혹은 이미지 크기가 정확하다면 항목 삭제 */
}

/* GNB Default loot
.container .fixed_box .header .header_inner #GNB
편의상 #GNB로 표기
*/
#GNB {
    float: right;
    width: 890px;
    height: 80px;
    text-align: right;
    font-size: 0.875em;
}

#GNB>ul {
    height: 80px;
    text-align: center;
    overflow: hidden;
}

#GNB>ul>li {
    display: inline-block;
    vertical-align: top;
}

#GNB>ul>li>a {
    display: block;
    padding: 0 53px;
    height: 80px;
    line-height: 80px;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    color: rgb(80, 80, 80);
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

#GNB>ul>li>a.active {
    color: #0C4DA2;
    border-bottom: 2px solid #0C4DA2;
}

#GNB ul ul {
    transition: background 300ms;
}

#GNB ul ul.active {
    background-color: #dcdcdc;
}

#GNB ul ul a {
    display: block;
    padding: 3px 35px 3px 40px;
    line-height: 40px;
    font-weight: 400;
    color: rgb(80, 80, 80);
    transition: border 300ms;
    text-align: center;
}

#GNB ul ul li:first-child a {
    padding-top: 5px;
}

#GNB ul ul li:last-child a {
    padding-bottom: 5px;
}

#GNB ul ul a:hover,
#GNB ul ul a:focus {
    font-weight: bold;
    color: #0C4DA2;
}

/* bx-slider 플러그인 커스텀 */
.bx-wrapper {
    box-shadow: 0 0 0 transparent;
    border: none;
    background: transparent;
    padding-top: 109px;
    margin-bottom: 5px;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 60%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-pager {
    bottom: 30px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #f1f1f1;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #f1f1f1;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #0c4da2;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: center;
    width: 100%;
}

#content {
    clear: both;
    float: none;
}

#content .notice_area,
#content .research_area,
#content .report_area {
    clear: both;
    float: none;
    width: 1100px;
    margin: 0 auto;
}

#content .notice_area .notice,
#content .notice_area .event {
    float: left;
    width: 49%;
    height: 40px;
    overflow: hidden;
    background-color: #fff;
}

#content .notice_area .notice .notice_rolling,
#content .notice_area .event .event_rolling {
    clear: both;
    float: none;
    position: relative;
    width: 100%;
    height: auto;
}

#content .notice_area .notice li,
#content .notice_area .event li {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

/* hot_으로 시작하는 div class > hot_search hot_chart hot_board */
#content .research_area div[class^="hot_"] {
    float: left;
    width: 365px;
    height: 170px;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

#content .research_area .hot_board {
    border-left: 1px solid #dcdcdc;
}

/* _icon으로 끝나는 div class > search_icon chart_icon board_icon */
#content .research_area div[class$="_icon"] {
    display: inline-block;
    width: 142px;
    background: #0C4DA2;
    /* vertical-align: middle; */
}

#content .research_area div[class$="_icon"] img {
    width: 142px;

}

/* _text으로 시작하는 div class > search_text chart_text board_text */
#content .research_area div[class$="_text"] {
    display: inline-block;
    width: 198px;

}

#content .research_area div[class$="_text"] dl {
    display: block;
    text-align: center;
}

#content .research_area div[class$="_text"] dl dt {
    font-size: 18px;
    font-weight: bold;
    color: #505050;
    margin: 9px 0;
}

#content .research_area div[class$="_text"] dl dd {
    font-size: 15px;
    color: #505050;
    margin: 0 0 10px;
    line-height: 12px;
}

#content .research_area div[class$="_text"] dl a {
    display: block;
    width: 70%;
    padding: 4px 0;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    color: #0C4DA2;
    background: #fff;
    border: 2px solid #0C4DA2;
    border-radius: 20px;
    transition: all 0.3s;
}

#content .research_area div[class$="_text"] dl a:hover,
#content .research_area div[class$="_text"] dl a:focus {
    color: #fff;
    background: #0C4DA2;
}

#content .ad_zone {
    clear: both;
    float: none;
    height: 400px;
    background-image: url(../ad.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#content .ad_zone .panel {
    clear: both;
    float: none;
    width: 1100px;
    height: 400px;
    margin: 0 auto;

}
